*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
header
{
    display: flex;
}
body
{
    background-color: #f7f7f8;
}
.left-content
{
    width: 50%;
    display: flex;
    padding-left: 1.5rem;
    align-items: center;
}
.left-content a div
{
    float: left;
    width: 64px;
    height: 64px;
    background-image: url('img/triceratops.png');
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}
.left-content a div:hover
{
    background-image: url('img/triceratops(1).png');
}
.left-content p
{
    text-align: center;
}
.right-content
{
    width: 50%;
    padding-right: 1.5rem;
}
.right-content ul
{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 64px;
}
.right-content ul li a
{
    margin: 0 1rem;
}
.right-content ul li a
{
    text-decoration: none;
}
.right-content ul li a:hover
{
    color: orange;
}
#on_page {
    position: relative;
}
#on_page::before
{
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    content: "";
    position: absolute;
    width: calc(100% - 2rem);
    left: 50%;
    transform: translateX(-50%);
    bottom: -1rem;
}
/* Page centrale */
#main-content h1{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f7f7f8;
}

#billets{
  text-align: left;;
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
}

.billet{
  margin: 50px;
  background-color: white;
  border-radius: 2rem 2rem 0rem 0rem;
}

#b1:hover{
  box-shadow: 1px 1px 12px grey;
}

#b2:hover{
  box-shadow: 1px 1px 12px grey;
}

#b3:hover{
  box-shadow: 1px 1px 12px grey;
}

.date{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 2rem 2rem 0rem 0rem;
  background-color: orange;
}

.info-billet{
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
}


.prix{
  text-align: right;
}

.gestion{
  padding: 10px;
}

.gestion a {
  display:inline-block;
  margin: 10px;
}

.gestion a:hover{
  color: orange;
}

.gestion i {
  padding-left: 20px;
  font-size: 20px;
  color: black;
}

hr{
  margin-top: 10px;
  margin-bottom: 10px;
}


/* Footer */
footer {
  margin-left: 15%;
  margin-right: 15%;
}

.maps {
    display: flex;
    width: 60%;
    justify-content: center;
}

.maps iframe {
  float: right;
}

.infos {
  width: 40%;
  display: grid;
  align-content: center;
}

.container {
  display: flex;
}

.foot {
  display: flex;
}

.left-foot, .right-foot {
  width: 50%;
}

.right-foot p{
  float: right;
}

.infos img {
  margin : 0 1rem 0 1rem;
  justify-content: center;
  vertical-align: sub;
}

.infos-container {
  display: flex;
}

.infos-container div {
  width: 33%;
  text-align: center;
}

.infos-footer {
  margin-bottom: 7.5%;
  text-align: center;
}

.infos-container span {
  display: flex;
  align-items: center;
  border-right: 2px solid black;
}
